.aboutContainer {
  background: rgba(0, 0, 0, .7);
  width: 70%;
  margin: 0 auto;
}

.lofiTitle {
  text-align: center;
  padding-top: 1.5%;
  margin-top: 3%;
  color: white;
}

.coinsContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 1%;
}

.coins {
  transition: ease .05s;
}

.coins:hover {
  transform: scaleX(-1);
  filter: grayscale(100%);
}

.lofiArtists {
  height: 120px;
  width: 120px;
  border-radius: 100px;
  border: 1px solid white;
}


.summary {
  color: white;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
  padding: 1%;
  line-height: 40px;
}

#citation {
  line-height: 40px;
}

.aboutArt {
  text-decoration: none;
  color: rgb(38, 120, 192);
  transition: ease .3s;
}

.aboutArt:hover {
  font-size: 20px;
  border-bottom: 1px solid white;
}

@media (max-width: 425px) {
  .lofiTitle {
    font-size: 20px;
  }

  .aboutContainer {
    width: 95%;
  }

  .lofiArtists {
    width: 75px;
    height: 75px;
  }

  .summary {
    font-size: 12px;
    line-height: 20px;
    width: 95%;
  }
}

@media (min-width: 426px) and (max-width: 896px) {
  .aboutContainer {
    width: 95%;
  }

  .lofiArtists {
    height: 90px;
    width: 90px;
  }

  .summary {
    font-size: 17px;
    width: 90%;
    line-height: 30px;
  }
}

@media (min-width: 897px) and (max-width: 1024px) {
  .aboutContainer {
    width: 95%;
  }

  .lofiArtists {
    height: 110px;
    width: 110px;
  }

  .summary {
    font-size: 18px;
    width: 90%;
    line-height: 30px;
  }
}