* {
font-family: 'Montserrat', sans-serif;
}
.headerMain {
  text-align: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  margin: 0;
  padding-top: 1%;
  padding-bottom: 1%;
}

.pagetitle {
  color: white;
  font-size: 44px;
  font-weight: bolder;
  transition: ease .3s;
}

@media (max-width: 425px) {
  .pagetitle {
    font-size: 25px;
  }
}

@media (min-width: 426px) and (max-width: 896px) {
  .pagetitle {
    font-size: 35px;
  }
}

@media (min-width: 897px) and (max-width: 1024px) {

}
