/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 20px;
  top: 25px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: rgba(255, 255, 255, .3);
  transition: ease .3s;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: rgba(0, 0, 0, 0.3);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  display: none;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0) 100%);
  padding-top: 2.5em; 
  padding-left: 1em;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  color: white;
  text-decoration: none;
  line-height: 50px;
  text-align: left;
  transition: ease .4s !important;
}
/* Individual item hover */
.bm-item:hover {
  color: rgb(38, 120, 192);
  transform: scale(1.04);
  padding-left: 30px;
  border-left: 1px solid white;
}

.logReg{
  font-size: 16px;
}

#login {
  color: white;
  text-decoration: none !important;
  margin: 5px;
  transition: ease .3s !important;
}

#login:hover {
  border-bottom: 1px solid white;
  color: rgba(67, 233, 123, 1);
}

#register {
  color: white;
  text-decoration: none !important;
  margin: 5px;
  transition: ease .3s !important;
}

#register:hover {
  border-bottom: 1px solid white;
  color: rgba(250, 112, 154, 1);
}